nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    background-color: #fff;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    a{
        color: black;
        text-decoration: none;
        &:hover{
        text-decoration: underline;
        }
    }
    button{
        padding: 0.5rem 1rem;
        border: none;
        background-color: #4DA181;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
    .logoSide{
        display: flex;
        align-items: center;
        gap: 1rem;
        .categoryBtn{
            background: transparent;
            color: black;
            border: 1px solid gray;
            opacity: .8;
            padding: .8rem 2rem;
            border-radius: 5px;
            display: flex;
            align-items: center;
            gap: 1rem;
            color: #4DA181;
        }
    }
    .contentSide{
        display: flex;
        align-items: center;
        gap: 1rem;
        .bx-search{
            border: .5px solid gray;
            padding: .5rem;
            border-radius: 3rem;
            color: #4DA181;
            cursor: pointer;
        }
    }

    @media (max-width: 900px){
        .logoSide{
            .categoryBtn{
                display: none;
            }
        }
        .contentSide{
            a{
                display: none;
            }
            button{
            }:nth-last-of-type(2){
                display: none;
            }
        }
        
    }
    @media (max-width: 480px){
        .logoSide{
            img{
                width: 100px;
            }
            button{
                padding: .5rem 1rem;
            }
        }
    }
}