.productDetailsContainer{
    background: white;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    border-radius: 10px;
    height: 80vh;
    h1{
        text-align: center;
        padding-top: 5rem;
        font-size: 2rem;
    }
    .productDetails{
        padding: 3rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        img{
            width: 50%;
            height:400px;
            object-fit: cover;
            object-position: center;
        }
        h1{
            text-align: left;
        }
        .productDetailsText{
            width: 50%;
            h1{
                font-size: 2rem;
                margin: 0;
                padding: 0;
            }
            p{
                font-size: 1rem;
            }:nth-last-of-type(1){
                font-size: 1.5rem;
                color: #4DA181;
                font-weight: bold;
            }
            button{
                padding: .5rem;
                border: none;
                border-radius: 10px;
                font-size: 1.5rem;
                cursor: pointer;
                margin-top: 1rem;
            }
        }
    }
}
