body{
    background: #FFFEFE;
}
.productDetailsContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    border-radius: 10px;
    padding-bottom: 2rem;
    .productDetails{
        padding: 3rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        height: 55vh;
        .productDetailsImage{
            width: 50%;
            img{
                width: 80%;
                display: block;
                mix-blend-mode: multiply;
            }
        }
        .productDetailsText{
            width: 50%;
            border-bottom: 1px solid #4da181de;
            padding-bottom: 1rem;
            .heading{
                font-size: 3rem;
                color: black;
                margin: 0;
                padding: 0;
            }
            p{
                font-size: 1rem;
            }:nth-last-of-type(1){
                font-size: 1.5rem;
                color: #4DA181;
                font-weight: bold;
            }
            .pieces{
                font-size: 1rem;
                margin-left: 1rem;
            }
            .addToCartBtn{
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                background: #4DA181;
                color: white;
                padding: 1rem 5rem;
                margin-top: 1rem;
            }
        }
    }
}
.productDetailsReview{
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #4da181de;
    border-bottom: 1px solid #4da181de;
    h2{
        font-size: 1.5rem;
    }
    p{
        margin-top: .5rem;
        font-size: 1rem;
    }
    .writeReviewBtn{
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        background: #4DA181;
        color: white;
        padding: 1rem 5rem;
        margin-top: 1rem;
    }
}
.productDetailsRelated{
    border-bottom: 1px solid #4da181de;
    h1{
        margin: 0;
        padding: 1rem;
    }
}
