@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background-color: #fff;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
nav a {
  color: black;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #4DA181;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
nav .logoSide {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .logoSide .categoryBtn {
  background: transparent;
  color: black;
  border: 1px solid gray;
  opacity: 0.8;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #4DA181;
}
nav .contentSide {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .contentSide .bx-search {
  border: 0.5px solid gray;
  padding: 0.5rem;
  border-radius: 3rem;
  color: #4DA181;
  cursor: pointer;
}
@media (max-width: 900px) {
  nav .logoSide .categoryBtn {
    display: none;
  }
  nav .contentSide a {
    display: none;
  }
  nav .contentSide :nth-last-of-type(2) {
    display: none;
  }
}
@media (max-width: 480px) {
  nav .logoSide img {
    width: 100px;
  }
  nav .logoSide button {
    padding: 0.5rem 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  background: #F3F5F7;
}

#image-carousel {
  max-width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 1rem;
  height: 400px;
}

/* Style the carousel items */
.splide__slide img {
  width: 100%;
  height: 400px;
  display: block;
}

/* Optional: Add some padding or margin to the carousel */
.splide__track {
  padding: 10px;
}

@media (max-width: 900px) {
  .splide__slide img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .splide__slide img #image-carousel {
    height: 300px;
  }
}
@media (max-width: 480px) {
  #image-carousel {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .splide__slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 2rem;
  background: transparent;
  border-bottom: 1px solid #4DA181;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  display: none;
  z-index: 1500;
}
.search .searchDiv {
  display: flex;
  align-items: center;
  width: 50%;
  border: 1px solid #4DA181;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.search .searchDiv input {
  background: none;
  width: 100%;
  margin: auto;
  border: none;
  padding: 0.5rem;
  outline: none;
}
.search .searchDiv ::-moz-placeholder {
  color: black;
}
.search .searchDiv ::placeholder {
  color: black;
}
.search button {
  padding: 0.5rem 1rem;
  border: 1px solid #4DA181;
  margin-left: 0.5rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.search button i {
  font-size: 2rem;
  color: #4DA181;
}

.container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  position: relative;
  background: #F2F4F7;
}
.container .leftSide {
  float: left;
  width: 30%;
  min-height: 90vh;
  padding: 20px;
  position: fixed;
  left: 0;
  margin-top: 100px;
}
.container .leftSide .leftSideContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.container .leftSide .leftSideContent .card {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}
.container .leftSide .leftSideContent .card i {
  font-size: 3rem;
  color: #4DA181;
}
.container .leftSide .leftSideContent .card p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.container .leftSide .cartContainer .cartHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(77, 161, 129, 0.8705882353);
}
.container .leftSide .cartContainer .cartHeader h1 {
  margin: 0;
  padding: 0;
}
.container .leftSide .cartContainer .cartHeader .cartCloseBtn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
}
.container .rightSide {
  width: 70%;
  min-height: 90vh;
  padding: 20px;
  margin-left: auto;
  margin-top: 100px;
}
.container .rightSide .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.container .rightSide .products .product {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.container .rightSide .products .product img {
  width: 300px;
  height: 300px;
}
.container .rightSide .products .product p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.container .rightSide .cartContainer {
  background: #fff;
  width: 50%;
  position: absolute;
  right: 0;
  z-index: 1600;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: none;
}
.container .rightSide .cartContainer .cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(77, 161, 129, 0.8705882353);
}
.container .rightSide .cartContainer .cartHeader h1 {
  margin: 0;
  padding: 0;
}
.container .rightSide .cartContainer .cartHeader .closeCart {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
  color: red;
}
.container .rightSide .cartItems .cartItem {
  display: flex;
  align-items: center;
  height: 200px;
}
.container .rightSide .cartItems .cartItem img {
  width: 200px;
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .container .leftSide {
    display: none;
  }
  .container .rightSide {
    width: 100%;
  }
  .container .rightSide .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .container .leftSide {
    display: none;
  }
  .container .rightSide {
    width: 100%;
  }
  .container .rightSide .products {
    grid-template-columns: repeat(1, 1fr);
  }
  .container .rightSide .products .product img {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.slideNav {
  background: rgba(255, 255, 255, 0.651);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1000;
  transform: translateX(-150%);
  transition: 0.3s ease-in-out;
}
.slideNav .slideNavContentLeftContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slideNav .slideNavContentLeftContentHeader button {
  padding: 1rem;
  border: none;
  background: transparent;
  font-size: 2rem;
  color: red;
}
@media (max-width: 900px) {
  .slideNav .slideNavContentLeftContentHeader h1 {
    font-size: 1rem;
  }
  .slideNav .slideNavContentLeftContentHeader button {
    font-size: 1rem;
  }
}
.slideNav .slideNavContentLeftContentBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.slideNav .slideNavContentLeftContentBody a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 900px) {
  .slideNav .slideNavContentLeftContentBody a {
    font-size: small;
  }
}

.slideNav.active {
  transform: translateX(0);
  transition: 0.3s ease-in-out;
}

.filterSection {
  display: flex;
  justify-content: space-between;
  display: none;
}
.filterSection button {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  background: #4DA181;
  color: white;
  border: none;
  font-size: 1.5rem;
}
@media (max-width: 900px) {
  .filterSection {
    display: flex;
  }
}
@media (max-width: 480px) {
  .filterSection button {
    font-size: 0.8rem;
  }
}

body {
  background: #FFFEFE;
}

.productDetailsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  border-radius: 10px;
  padding-bottom: 2rem;
}
.productDetailsContainer .productDetails {
  padding: 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 55vh;
}
.productDetailsContainer .productDetails .productDetailsImage {
  width: 50%;
}
.productDetailsContainer .productDetails .productDetailsImage img {
  width: 80%;
  display: block;
  mix-blend-mode: multiply;
}
.productDetailsContainer .productDetails .productDetailsText {
  width: 50%;
  border-bottom: 1px solid rgba(77, 161, 129, 0.8705882353);
  padding-bottom: 1rem;
}
.productDetailsContainer .productDetails .productDetailsText .heading {
  font-size: 3rem;
  color: black;
  margin: 0;
  padding: 0;
}
.productDetailsContainer .productDetails .productDetailsText p {
  font-size: 1rem;
}
.productDetailsContainer .productDetails .productDetailsText :nth-last-of-type(1) {
  font-size: 1.5rem;
  color: #4DA181;
  font-weight: bold;
}
.productDetailsContainer .productDetails .productDetailsText .pieces {
  font-size: 1rem;
  margin-left: 1rem;
}
.productDetailsContainer .productDetails .productDetailsText .addToCartBtn {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background: #4DA181;
  color: white;
  padding: 1rem 5rem;
  margin-top: 1rem;
}

.productDetailsReview {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid rgba(77, 161, 129, 0.8705882353);
  border-bottom: 1px solid rgba(77, 161, 129, 0.8705882353);
}
.productDetailsReview h2 {
  font-size: 1.5rem;
}
.productDetailsReview p {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.productDetailsReview .writeReviewBtn {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background: #4DA181;
  color: white;
  padding: 1rem 5rem;
  margin-top: 1rem;
}

.productDetailsRelated {
  border-bottom: 1px solid rgba(77, 161, 129, 0.8705882353);
}
.productDetailsRelated h1 {
  margin: 0;
  padding: 1rem;
}/*# sourceMappingURL=style.css.map */